/* Custom colors and fonts */

body {
	background-color: #f3f3f3; 
	color: rgb(40, 40, 40);
	font-family: 'Lora', serif;
	font-weight: lighter;
	
}

h1{
	color: #f25278;
  	font-family: 'Lora', serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 40px;
    text-transform: uppercase;
	}

h2{
	color: #f26b8a;
    font-family: 'Inria Serif', serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: capitalize;
	}

a{
	font-family: 'Lora', serif;
	text-decoration: none;
	color: #77b5fe;
	font-weight: 700;
	font-size: 15px;
	}

a:hover {
	color: #03224c;
}

.container {
    width: 700px;
    margin: 40px auto;
}

.card-white {
background-color: white;
padding: 40px;
box-shadow:  0px 10px 30px rgba(0.0.0. 0,3);
border-radius: 5px;
margin: 20px  0px;
text-align: center;

}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #77b5fe; 
	color: white;
	padding: 12px 16px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: #f25278; 
	color:  white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 60px;
	color: rgb(220,220,220);
}

.list-inline i:hover {
	color: #77b5fe;
}

#introduction p {
	margin-bottom: 40px;
  }



